USE [DoctorSearchDB]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [CK__Reviews__Rating__6C190EBB]
GO
ALTER TABLE [dbo].[TimeSlots] DROP CONSTRAINT [FK_TimeSlots_Doctors]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [FK_Reviews_App]
GO
ALTER TABLE [dbo].[Patients] DROP CONSTRAINT [FK_Patients_Users]
GO
ALTER TABLE [dbo].[Messages] DROP CONSTRAINT [FK_Msg_Sender]
GO
ALTER TABLE [dbo].[Messages] DROP CONSTRAINT [FK_Msg_Conv]
GO
ALTER TABLE [dbo].[MedicalRecords] DROP CONSTRAINT [FK_Records_Patients]
GO
ALTER TABLE [dbo].[MedicalRecords] DROP CONSTRAINT [FK_Records_Doctors]
GO
ALTER TABLE [dbo].[Doctors] DROP CONSTRAINT [FK_Doctors_Users]
GO
ALTER TABLE [dbo].[Doctors] DROP CONSTRAINT [FK_Doctors_Spec]
GO
ALTER TABLE [dbo].[Doctors] DROP CONSTRAINT [FK_Doctors_Loc]
GO
ALTER TABLE [dbo].[Conversations] DROP CONSTRAINT [FK_Conv_Patient]
GO
ALTER TABLE [dbo].[Conversations] DROP CONSTRAINT [FK_Conv_Doctor]
GO
ALTER TABLE [dbo].[CallLogs] DROP CONSTRAINT [FK_Call_Receiver]
GO
ALTER TABLE [dbo].[CallLogs] DROP CONSTRAINT [FK_Call_Caller]
GO
ALTER TABLE [dbo].[Articles] DROP CONSTRAINT [FK_Articles_Admin]
GO
ALTER TABLE [dbo].[Appointments] DROP CONSTRAINT [FK_App_TimeSlot]
GO
ALTER TABLE [dbo].[Appointments] DROP CONSTRAINT [FK_App_Patient]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__created_a__4BAC3F29]
GO
ALTER TABLE [dbo].[TimeSlots] DROP CONSTRAINT [DF__TimeSlots__Statu__619B8048]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [DF__Reviews__Created__6D0D32F4]
GO
ALTER TABLE [dbo].[Messages] DROP CONSTRAINT [DF__Messages__IsRead__76969D2E]
GO
ALTER TABLE [dbo].[Messages] DROP CONSTRAINT [DF__Messages__SentAt__75A278F5]
GO
ALTER TABLE [dbo].[MedicalRecords] DROP CONSTRAINT [DF__MedicalRe__visit__5CD6CB2B]
GO
ALTER TABLE [dbo].[Doctors] DROP CONSTRAINT [DF__Doctors__status__534D60F1]
GO
ALTER TABLE [dbo].[Conversations] DROP CONSTRAINT [DF__Conversat__LastA__70DDC3D8]
GO
ALTER TABLE [dbo].[CallLogs] DROP CONSTRAINT [DF__CallLogs__Durati__7B5B524B]
GO
ALTER TABLE [dbo].[Articles] DROP CONSTRAINT [DF__Articles__Create__01142BA1]
GO
ALTER TABLE [dbo].[Articles] DROP CONSTRAINT [DF__Articles__Views__00200768]
GO
ALTER TABLE [dbo].[Appointments] DROP CONSTRAINT [DF__Appointme__Creat__66603565]
GO
ALTER TABLE [dbo].[Appointments] DROP CONSTRAINT [DF__Appointme__Statu__656C112C]
GO
/****** Object:  Index [UQ__Users__A1936A6B7B04293B]    Script Date: 4/1/2026 3:24:48 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__A1936A6B7B04293B]
GO
/****** Object:  Index [UQ__Reviews__8ECDFCC3F8AC78FE]    Script Date: 4/1/2026 3:24:48 PM ******/
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [UQ__Reviews__8ECDFCC3F8AC78FE]
GO
/****** Object:  Index [UQ__Patients__37D42BFA5D969585]    Script Date: 4/1/2026 3:24:48 PM ******/
ALTER TABLE [dbo].[Patients] DROP CONSTRAINT [UQ__Patients__37D42BFA5D969585]
GO
/****** Object:  Index [UQ_Doctors_CCHN]    Script Date: 4/1/2026 3:24:48 PM ******/
ALTER TABLE [dbo].[Doctors] DROP CONSTRAINT [UQ_Doctors_CCHN]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TimeSlots]') AND type in (N'U'))
DROP TABLE [dbo].[TimeSlots]
GO
/****** Object:  Table [dbo].[Specialties]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Specialties]') AND type in (N'U'))
DROP TABLE [dbo].[Specialties]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reviews]') AND type in (N'U'))
DROP TABLE [dbo].[Reviews]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Patients]') AND type in (N'U'))
DROP TABLE [dbo].[Patients]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Messages]') AND type in (N'U'))
DROP TABLE [dbo].[Messages]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MedicalRecords]') AND type in (N'U'))
DROP TABLE [dbo].[MedicalRecords]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Locations]') AND type in (N'U'))
DROP TABLE [dbo].[Locations]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Doctors]') AND type in (N'U'))
DROP TABLE [dbo].[Doctors]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Conversations]') AND type in (N'U'))
DROP TABLE [dbo].[Conversations]
GO
/****** Object:  Table [dbo].[CallLogs]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CallLogs]') AND type in (N'U'))
DROP TABLE [dbo].[CallLogs]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Articles]') AND type in (N'U'))
DROP TABLE [dbo].[Articles]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 4/1/2026 3:24:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Appointments]') AND type in (N'U'))
DROP TABLE [dbo].[Appointments]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[TimeSlotId] [int] NOT NULL,
	[Symptoms] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Thumbnail] [varchar](255) NULL,
	[Views] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CallLogs]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CallLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CallerID] [int] NOT NULL,
	[ReceiverID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Duration] [int] NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[LastActive] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SpecialtyId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[cchn] [varchar](50) NOT NULL,
	[workplace] [nvarchar](255) NOT NULL,
	[experience_years] [int] NULL,
	[bio] [nvarchar](max) NULL,
	[status] [nvarchar](20) NOT NULL,
	[Picture] [nvarchar](255) NULL,
	[Price] [nchar](10) NULL,
	[SpecificAddress] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[visit_date] [datetime] NULL,
	[diagnosis] [nvarchar](max) NULL,
	[treatment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConversationId] [int] NOT NULL,
	[SenderID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[SentAt] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[dob] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[cccd] [varchar](12) NULL,
	[bhyt] [varchar](15) NULL,
	[address] [nvarchar](255) NULL,
	[blood_type] [varchar](5) NULL,
	[medical_history] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialties]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/1/2026 3:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[phone_number] [varchar](10) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [PatientId], [TimeSlotId], [Symptoms], [Status], [CreatedAt]) VALUES (1, 1, 1, N'Hay bị đau tức ngực trái, khó thở', N'Thành công', CAST(N'2026-03-30T07:28:31.290' AS DateTime))
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([Id], [AdminID], [Title], [Content], [Thumbnail], [Views], [CreatedAt]) VALUES (1, 1, N'Cách phòng ngừa bệnh tim mạch', N'Nội dung chi tiết về chế độ ăn uống và tập luyện...', N'heart_health.jpg', 120, CAST(N'2026-03-30T07:28:31.290' AS DateTime))
INSERT [dbo].[Articles] ([Id], [AdminID], [Title], [Content], [Thumbnail], [Views], [CreatedAt]) VALUES (2, 1, N'Chăm sóc trẻ em mùa nắng nóng', N'Các lưu ý về bù nước và giữ vệ sinh cho trẻ...', N'child_care.jpg', 85, CAST(N'2026-03-30T07:28:31.290' AS DateTime))
SET IDENTITY_INSERT [dbo].[Articles] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [UserId], [SpecialtyId], [LocationId], [full_name], [cchn], [workplace], [experience_years], [bio], [status], [Picture], [Price], [SpecificAddress]) VALUES (1, 2, 1, 2, N'TS. BS. Trần Văn B', N'012345/BYT-CCHN', N'Bệnh viện Đa khoa Trung ương', 15, N'Chuyên gia tim mạch với hơn 15 năm kinh nghiệm.', N'Sẵn sàng', N'bs_nguyen_van_an.jpg', N'500000    ', N'123 Đường Láng, Đống Đa, Hà Nội')
INSERT [dbo].[Doctors] ([Id], [UserId], [SpecialtyId], [LocationId], [full_name], [cchn], [workplace], [experience_years], [bio], [status], [Picture], [Price], [SpecificAddress]) VALUES (2, 3, 2, 1, N'ThS. BS. Nguyễn Thị C', N'067890/BYT-CCHN', N'BV Phụ sản Nhi', 8, N'Tận tâm với các bệnh nhi.', N'Active', N'bs_nguyen_van_an.jpg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([Id], [Name]) VALUES (1, N'Liên Chiểu')
INSERT [dbo].[Locations] ([Id], [Name]) VALUES (2, N'Hải Châu')
INSERT [dbo].[Locations] ([Id], [Name]) VALUES (3, N'Thanh Khê')
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalRecords] ON 

INSERT [dbo].[MedicalRecords] ([Id], [PatientId], [DoctorId], [visit_date], [diagnosis], [treatment]) VALUES (1, 1, 1, CAST(N'2026-03-30T07:28:31.290' AS DateTime), N'Rối loạn nhịp tim nhẹ', N'Nghỉ ngơi, giảm áp lực công việc và theo dõi thêm.')
SET IDENTITY_INSERT [dbo].[MedicalRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([Id], [UserId], [full_name], [dob], [gender], [cccd], [bhyt], [address], [blood_type], [medical_history]) VALUES (1, 4, N'Trần Thanh Trinh', CAST(N'2004-10-20' AS Date), N'Nữ', N'48098001234', N'GD4791234567890', N'Liên Chiểu, Đà Nẵng', N'O', N'Dị ứng hải sản')
INSERT [dbo].[Patients] ([Id], [UserId], [full_name], [dob], [gender], [cccd], [bhyt], [address], [blood_type], [medical_history]) VALUES (2, 5, N'Nguyễn Văn An', CAST(N'1995-05-15' AS Date), N'Nam', N'48095009876', N'GD4799876543210', N'Hải Châu, Đà Nẵng', N'A', N'Không')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [AppointmentId], [Rating], [Comment], [CreatedAt]) VALUES (1, 1, 5, N'Bác sĩ tư vấn rất nhiệt tình, chuyên môn cao.', CAST(N'2026-03-30T07:28:31.290' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialties] ON 

INSERT [dbo].[Specialties] ([Id], [Name], [Description]) VALUES (1, N'Tim mạch', N'Chẩn đoán và điều trị các bệnh lý về tim và mạch máu')
INSERT [dbo].[Specialties] ([Id], [Name], [Description]) VALUES (2, N'Nhi khoa', N'Chăm sóc sức khỏe toàn diện cho trẻ em')
INSERT [dbo].[Specialties] ([Id], [Name], [Description]) VALUES (3, N'Cơ xương khớp', N'Điều trị các bệnh lý về hệ vận động')
SET IDENTITY_INSERT [dbo].[Specialties] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlots] ON 

INSERT [dbo].[TimeSlots] ([Id], [DoctorId], [Date], [StartTime], [EndTime], [Status]) VALUES (1, 1, CAST(N'2026-03-15' AS Date), CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time), N'Trống')
INSERT [dbo].[TimeSlots] ([Id], [DoctorId], [Date], [StartTime], [EndTime], [Status]) VALUES (2, 1, CAST(N'2026-03-15' AS Date), CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), N'Trống')
INSERT [dbo].[TimeSlots] ([Id], [DoctorId], [Date], [StartTime], [EndTime], [Status]) VALUES (3, 2, CAST(N'2026-03-16' AS Date), CAST(N'14:00:00' AS Time), CAST(N'15:00:00' AS Time), N'Trống')
SET IDENTITY_INSERT [dbo].[TimeSlots] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [phone_number], [password], [role], [created_at]) VALUES (1, N'0901234567', N'Admin@123', N'Admin', CAST(N'2026-03-30T07:28:31.287' AS DateTime))
INSERT [dbo].[Users] ([Id], [phone_number], [password], [role], [created_at]) VALUES (2, N'0912345678', N'Doctor@123', N'Doctor', CAST(N'2026-03-30T07:28:31.287' AS DateTime))
INSERT [dbo].[Users] ([Id], [phone_number], [password], [role], [created_at]) VALUES (3, N'0923456789', N'Doctor@456', N'Doctor', CAST(N'2026-03-30T07:28:31.287' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Doctors_CCHN]    Script Date: 4/1/2026 3:24:48 PM ******/
ALTER TABLE [dbo].[Doctors] ADD  CONSTRAINT [UQ_Doctors_CCHN] UNIQUE NONCLUSTERED 
(
	[cchn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Patients__37D42BFA5D969585]    Script Date: 4/1/2026 3:24:48 PM ******/
ALTER TABLE [dbo].[Patients] ADD UNIQUE NONCLUSTERED 
(
	[cccd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Reviews__8ECDFCC3F8AC78FE]    Script Date: 4/1/2026 3:24:48 PM ******/
ALTER TABLE [dbo].[Reviews] ADD UNIQUE NONCLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A1936A6B7B04293B]    Script Date: 4/1/2026 3:24:48 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (N'Chờ duyệt') FOR [Status]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Articles] ADD  DEFAULT ((0)) FOR [Views]
GO
ALTER TABLE [dbo].[Articles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CallLogs] ADD  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT (getdate()) FOR [LastActive]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT (N'Pending') FOR [status]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT (getdate()) FOR [visit_date]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TimeSlots] ADD  DEFAULT (N'Trống') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_App_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_App_Patient]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_App_TimeSlot] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[TimeSlots] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_App_TimeSlot]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Admin]
GO
ALTER TABLE [dbo].[CallLogs]  WITH CHECK ADD  CONSTRAINT [FK_Call_Caller] FOREIGN KEY([CallerID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CallLogs] CHECK CONSTRAINT [FK_Call_Caller]
GO
ALTER TABLE [dbo].[CallLogs]  WITH CHECK ADD  CONSTRAINT [FK_Call_Receiver] FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CallLogs] CHECK CONSTRAINT [FK_Call_Receiver]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conv_Doctor] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conv_Doctor]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conv_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conv_Patient]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Loc] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Loc]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Spec] FOREIGN KEY([SpecialtyId])
REFERENCES [dbo].[Specialties] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Spec]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Users]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_Records_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_Records_Doctors]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_Records_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_Records_Patients]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Msg_Conv] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Msg_Conv]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Msg_Sender] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Msg_Sender]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_App] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_App]
GO
ALTER TABLE [dbo].[TimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_TimeSlots_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[TimeSlots] CHECK CONSTRAINT [FK_TimeSlots_Doctors]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
